body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}

.main-img {
    width: 300px;
    box-shadow: 0 2px 5px lightgray;
    margin-right: 20px;
}

.container {
    display: flex;
}

.bold {
    font-weight: bold;
}

a {
    color: #007185;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

.breadcrumb {
    color: #565959;
}




